.box{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.hide {
    display: none;
}