<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <title>Greater Number Game</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div class="container">
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking a number between 1 and 100</p>
        <p>Take a guess!</p>
        <div>
            {% if request.session.result == 1 %}
            <div class="box green col-md-6 offset-md-3">
                <h1>{{request.session.magic_number}} was the number</h1>
                <a href="/reset">
                    <button>Play Again</button>

                </a>
            </div>
            {% elif request.session.result == 2 %}
            <div class="box red col-md-6 offset-md-3">
                <h1>Too Low</h1>
            </div>
            {% elif request.session.result == None %}
            <div class="hide"></div>
            {% else %}
            <div class="box red col-md-6 offset-md-3">
                <h1>Too high</h1>
            </div>
            {% endif %}
        </div>
        <form action="/guess" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="text" class="form-control" id="exampleInputPassword1" name="guess_number" />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>